cerberus
jinja2
logutils
lxml
netaddr
nose
paramiko
psycopg2
pymongo
pyodbc
pysnmp
python-libnmap
python-memcached
pyyaml
redis
requests
selenium
shodan
sqlalchemy
tabulate
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
